@page
@model Mission11_ajames26.Pages.CheckoutConfirmationModel
@{
}

<div class="text-center">
    <h2>Thank you for your order</h2>
    <div>I need a new yacht.</div>
    <br />
    <a class="btn btn-primary" asp-controller="Home">Home</a>
</div>